.navbar{
  height: 56px;
  background-color: rgba(#3A3A40, 5%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  h3{
    width: 85%;
    margin: 0 auto;
    font-weight: bold;
    
  }
}